body{
    margin: 0px;
    background-color: #1a1d3d;
    color: white;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.first{
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
    width: 450px;
    justify-content: space-evenly;
    padding: 0px;
    align-self: flex-end;
}

li{
    font-size: 30px;
    text-decoration: none;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    size: 100%;
}

.name{
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    align-items: baseline;
}

a{
    text-decoration: none;
    color: white;
}

.space{
    height: 100%;
}

h1{
    font-size: 100px;
    padding: 1%;
    margin: 0px;
    text-align: center;
}

h3{
    font-size: 50px;
    padding-left: 4%;
    margin: 0px;
}

.imagepos{
    display: flex;
    justify-content: space-between;
}

.img-slime{
    width: 200px;
    height: auto;
    padding-right: 3%;
    padding-bottom: 1%;
}

.img-social{
    width: 50px;
    padding-right: 0.5%;
}

.social{
    padding-top: 1%;
    padding-left: 4%;
}


/* about */

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    background-color: #b3cbf2;
    color: #1a1d3d;
}

h2{
    font-size: 40px;
    padding-left: 3%;
}

#about-me{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
}

.img-face{
    width: 200px;
    border-radius: 20%;
}

h4{
    font-size: 25px;
}
div.sp{
    width: 5%;
}


.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    background-color: #b3cbf2;
    color: #1a1d3d;
}

/* projects */
.presentation{
    display: flex;
    justify-content: space-between;
    padding: 4%;
    align-content: center;
    height: 80%;
}

#show-projects{
    width: 100%;
}

.chpro{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #a1bff0;
    width: 6%;
}

.arrow{
    width: 100%;
}


/* contacts */
.contacts{
    text-align: center;
}

h5{
    font-size: 25px;
    padding-left: 3%;
    text-align: center;
}
